NEXT_PUBLIC_FIREBASE_CONFIG_JSON={"apiKey":"AIzaSyCc4Gjh0N3wzCxqAEEQkrsX8AlI7UNBGR0","authDomain":"webgames-66ccf.firebaseapp.com","databaseURL":"https://webgames-66ccf-default-rtdb.asia-southeast1.firebasedatabase.app","projectId":"webgames-66ccf","storageBucket":"webgames-66ccf.firebasestorage.app","messagingSenderId":"539839465670","appId":"1:539839465670:web:b6bdf12a8d14d067e2efc7","measurementId":"G-94XVFXT33H"}
NEXT_PUBLIC_FIREBASE_APP_ID=liferpg-v28-fix
# Optional: provide a Firebase custom auth token to skip anonymous login.
NEXT_PUBLIC_INITIAL_AUTH_TOKEN=
